.button {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: $color-light;
  font-size: 10px;
  text-transform: uppercase;
  border-radius: 3px;
  background: linear-gradient(102deg, $primary -4.62%, #66ac66 178.22%),
    linear-gradient(102deg, #0bb1e3 -4.62%, #0f2976 178.22%), #0e70af;
  @include breakpoint($lg) {
    font-size: 14px;
  }
  @include breakpoint($xl) {
    font-size: 16px;
  }

  &-register {
    padding: 10px 15px;
  }
  &-large {
    font-weight: 600;
    letter-spacing: 2.48px;
    box-shadow: 0px 20px 40px 0px rgba(128, 143, 150, 0.19);
    padding: 15px 16px;
    justify-content: space-between;
    max-width: 195px;
    @include breakpoint($md) {
      max-width: 250px;
    }
    @include breakpoint($lg) {
      max-width: 300px;
    }
    @include breakpoint($xl) {
      max-width: 350px;
      padding: 27px 29px;
    }

    img {
      width: 12px;
      @include breakpoint($md) {
        width: 16px;
      }
      @include breakpoint($xl) {
        width: 22px;
      }
    }
  }
}
